@model PaginatedList<MarkMyDoctor.Models.Entities.Doctor>

@{
    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}

<a id="navButton" class="fas fa-angle-double-left @prevDisabled" asp-action="SearchResult"
   asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-toSearch="@ViewBag.toSearch"></a>
<span>@Model.PageIndex / @Model.TotalPages</span>
<a id="navButton" class="fas fa-angle-double-right @nextDisabled" asp-action="SearchResult"
   asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-toSearch="@ViewBag.toSearch"></a>