@model DoctorReviewViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="review-form">

    <div class="row">
        <div class="col-12 text-white p-5 mt-5 bg-black">
            <h2>@Model.Doctor.Name értékelése</h2>
            <hr />
            <form asp-action="Create" new { onsubmit="return VerifyRating()" } method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Doctor.Id" />
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Review.Title" class="control-label">Értékelés címe:</label>
                        <input asp-for="Review.Title" class="form-control" />
                        <span asp-validation-for="Review.Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Review.ReviewBody" class="control-label">Értékelés szövege:</label>
                    <textarea asp-for="Review.ReviewBody" class="form-control textarea-autosize"  id="textareaExample"></textarea>
                    <span asp-validation-for="Review.ReviewBody" class="text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Review.ProfessionalismRating" class="control-label">Professzionalitás:</label>
                        <div onmouseout="CreateSelected('Professionalism')">
                            <i id="Professionalism1" onmouseout="CreateOut(1, 'Professionalism')" onmouseover="CreateOver(1, 'Professionalism')" onclick="CreateClick(1, 'Professionalism')" class="far fa-star"></i>
                            <i id="Professionalism2" onmouseout="CreateOut(2, 'Professionalism')" onmouseover="CreateOver(2, 'Professionalism')" onclick="CreateClick(2, 'Professionalism')" class="far fa-star"></i>
                            <i id="Professionalism3" onmouseout="CreateOut(3, 'Professionalism')" onmouseover="CreateOver(3, 'Professionalism')" onclick="CreateClick(3, 'Professionalism')" class="far fa-star"></i>
                            <i id="Professionalism4" onmouseout="CreateOut(4, 'Professionalism')" onmouseover="CreateOver(4, 'Professionalism')" onclick="CreateClick(4, 'Professionalism')" class="far fa-star"></i>
                            <i id="Professionalism5" onmouseout="CreateOut(5, 'Professionalism')" onmouseover="CreateOver(5, 'Professionalism')" onclick="CreateClick(5, 'Professionalism')" class="far fa-star"></i>
                        </div>
                        <div>
                            @Html.HiddenFor(m => m.Review.ProfessionalismRating, new { id = "ProfessionalismRating", value = "0" })
                        </div>
                        <span asp-validation-for="Review.ProfessionalismRating" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Review.HumanityRating" class="control-label">Emberség:</label>
                        <div onmouseout="CreateSelected('Humanity')">
                            <i id="Humanity1" onmouseout="CreateOut(1, 'Humanity')" onmouseover="CreateOver(1, 'Humanity')" onclick="CreateClick(1, 'Humanity')" class="far fa-star"></i>
                            <i id="Humanity2" onmouseout="CreateOut(2, 'Humanity')" onmouseover="CreateOver(2, 'Humanity')" onclick="CreateClick(2, 'Humanity')" class="far fa-star"></i>
                            <i id="Humanity3" onmouseout="CreateOut(3, 'Humanity')" onmouseover="CreateOver(3, 'Humanity')" onclick="CreateClick(3, 'Humanity')" class="far fa-star"></i>
                            <i id="Humanity4" onmouseout="CreateOut(4, 'Humanity')" onmouseover="CreateOver(4, 'Humanity')" onclick="CreateClick(4, 'Humanity')" class="far fa-star"></i>
                            <i id="Humanity5" onmouseout="CreateOut(5, 'Humanity')" onmouseover="CreateOver(5, 'Humanity')" onclick="CreateClick(5, 'Humanity')" class="far fa-star"></i>
                        </div>
                        <div>
                            @Html.HiddenFor(m => m.Review.HumanityRating, new { id = "HumanityRating", value = "0" })
                        </div>
                        <span asp-validation-for="Review.HumanityRating" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Review.CommunicationRating" class="control-label">Kommunikáció:</label>
                        <div onmouseout="CreateSelected('Communication')">
                            <i id="Communication1" onmouseout="CreateOut(1, 'Communication')" onmouseover="CreateOver(1, 'Communication')" onclick="CreateClick(1, 'Communication')" class="far fa-star"></i>
                            <i id="Communication2" onmouseout="CreateOut(2, 'Communication')" onmouseover="CreateOver(2, 'Communication')" onclick="CreateClick(2, 'Communication')" class="far fa-star"></i>
                            <i id="Communication3" onmouseout="CreateOut(3, 'Communication')" onmouseover="CreateOver(3, 'Communication')" onclick="CreateClick(3, 'Communication')" class="far fa-star"></i>
                            <i id="Communication4" onmouseout="CreateOut(4, 'Communication')" onmouseover="CreateOver(4, 'Communication')" onclick="CreateClick(4, 'Communication')" class="far fa-star"></i>
                            <i id="Communication5" onmouseout="CreateOut(5, 'Communication')" onmouseover="CreateOver(5, 'Communication')" onclick="CreateClick(5, 'Communication')" class="far fa-star"></i>
                        </div>
                        <div>
                            @Html.HiddenFor(m => m.Review.CommunicationRating, new { id = "CommunicationRating", value = "0" })
                        </div>
                        <span asp-validation-for="Review.CommunicationRating" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Review.EmpathyRating" class="control-label">Empátia:</label>
                        <div onmouseout="CreateSelected('Empathy')">
                            <i id="Empathy1" onmouseout="CreateOut(1, 'Empathy')" onmouseover="CreateOver(1, 'Empathy')" onclick="CreateClick(1, 'Empathy')" class="far fa-star"></i>
                            <i id="Empathy2" onmouseout="CreateOut(2, 'Empathy')" onmouseover="CreateOver(2, 'Empathy')" onclick="CreateClick(2, 'Empathy')" class="far fa-star"></i>
                            <i id="Empathy3" onmouseout="CreateOut(3, 'Empathy')" onmouseover="CreateOver(3, 'Empathy')" onclick="CreateClick(3, 'Empathy')" class="far fa-star"></i>
                            <i id="Empathy4" onmouseout="CreateOut(4, 'Empathy')" onmouseover="CreateOver(4, 'Empathy')" onclick="CreateClick(4, 'Empathy')" class="far fa-star"></i>
                            <i id="Empathy5" onmouseout="CreateOut(5, 'Empathy')" onmouseover="CreateOver(5, 'Empathy')" onclick="CreateClick(5, 'Empathy')" class="far fa-star"></i>
                        </div>
                        <div>
                            @Html.HiddenFor(m => m.Review.EmpathyRating, new { id = "EmpathyRating", value = "0" })
                        </div>
                        <span asp-validation-for="Review.EmpathyRating"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Review.TrustAtmosphereRating" class="control-label">Bizalmi légkör</label>
                        <div onmouseout="CreateSelected('TrustAtmosphere')">
                            <i id="TrustAtmosphere1" onmouseout="CreateOut(1, 'TrustAtmosphere')" onmouseover="CreateOver(1, 'TrustAtmosphere')" onclick="CreateClick(1, 'TrustAtmosphere')" class="far fa-star"></i>
                            <i id="TrustAtmosphere2" onmouseout="CreateOut(2, 'TrustAtmosphere')" onmouseover="CreateOver(2, 'TrustAtmosphere')" onclick="CreateClick(2, 'TrustAtmosphere')" class="far fa-star"></i>
                            <i id="TrustAtmosphere3" onmouseout="CreateOut(3, 'TrustAtmosphere')" onmouseover="CreateOver(3, 'TrustAtmosphere')" onclick="CreateClick(3, 'TrustAtmosphere')" class="far fa-star"></i>
                            <i id="TrustAtmosphere4" onmouseout="CreateOut(4, 'TrustAtmosphere')" onmouseover="CreateOver(4, 'TrustAtmosphere')" onclick="CreateClick(4, 'TrustAtmosphere')" class="far fa-star"></i>
                            <i id="TrustAtmosphere5" onmouseout="CreateOut(5, 'TrustAtmosphere')" onmouseover="CreateOver(5, 'TrustAtmosphere')" onclick="CreateClick(5, 'TrustAtmosphere')" class="far fa-star"></i>
                        </div>
                        <div>
                            @Html.HiddenFor(m => m.Review.TrustAtmosphereRating, new { id = "TrustAtmosphereRating", value = "0" })
                        </div>
                        <span asp-validation-for="Review.TrustAtmosphereRating" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            Ajánlod?
                            <span>Igen:</span> @Html.RadioButtonFor(m => m.Review.Recommend, true)
                            <span>Nem:</span> @Html.RadioButtonFor(m => m.Review.Recommend, false)
                        </label>
                    </div>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Mentés" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
