@model MarkMyDoctor.Models.Entities.Review

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewBody)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewBody)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recommend)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recommend)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsReported)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsReported)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfessionalismRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfessionalismRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HumanityRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HumanityRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommunicationRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommunicationRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpathyRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpathyRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlexibilityRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlexibilityRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
