@model MarkMyDoctor.Models.Entities.Doctor

@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="details-card-container">
    <div class="upper-container">
        <div class="image-container">
            @if (Model.ProfilePicture != null)
            {
            <img  alt="" src="data:image/jpg;base64,@Convert.ToBase64String(Model.ProfilePicture)" />
            }
            else
            {
            <img src="~/images/doctor.svg" alt="">
            }
        </div>
    </div>
    <div class="lower-container">
        <h3>@Model.Name</h3>
        <div class="reviews">
            @for (var i = 0; i < @Model.OverallRating; i++)
            { 
                <i class="fas fa-star"></i>
            }
            @for (var i = @Model.OverallRating; i < 5; i++)
            {
                <i class="far fa-star"></i>
            }
            <span> (@Model?.Reviews?.Count())</span>
        </div>
        <div>
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
            {
                <a class="btn btn-primary" asp-action="Delete" asp-controller="Doctors" asp-route-id="@Model.Id">Orvos törlése</a>
            }
            @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Administrator") || User.IsInRole("Moderator")))
            {
                <a class="btn btn-primary" asp-action="Edit" asp-controller="Doctors" asp-route-id="@Model.Id">Adatlap szerkesztése</a>
            }
            @if (SignInManager.IsSignedIn(User))
            {
                <a class="btn btn-primary" asp-action="Create" asp-controller="Reviews" asp-route-id="@Model.Id">Orvos értékelése</a>
            }
        </div>
        <div class="doctor-details">
            <div class="specialities">
                <h4 id="address">Szakterületek:</h4>
                @foreach (var spec in Model.DoctorSpecialities)
                {
                    <ul>
                        <li>@spec.Speciality.Name</li>
                    </ul>
                }
            </div>
            <div class="doc-address">
                <h4 id="address" data-city=@ViewBag.City>Intézmények:</h4>
                @foreach (var spec in Model.DoctorFacilities)
                {
                    <ul>
                        <li>@spec.Facility.Name</li>
                    </ul>
                }
            </div>
        </div>
        <div class="doctor-details-reviews">
            <h4>Értékelések:</h4>
            <div class="doctor-review">

                @if (Model.Reviews.Any(r => r.IsApproved == true))
                {
                    <partial Name="_ReviewListPartial" model="@Model" />
                }
                else if (Model.Reviews.All(r => r.IsApproved == false))
                {
                    <div class="empty-box">
                        <span>Még nincs jóváhagyott értékelés!</span>
                    </div>
                }
                else
                {
                    <div class="empty-box">
                        <span>Még nem érkezett értékelés!</span>
                    </div>
                }
            </div>
        </div>
        @*<div id="map-div"></div>*@
    </div>
</div>