@model MarkMyDoctor.Models.Entities.Doctor

@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="details-card-container">
    <div class="upper-container">
        <div class="image-container">
            <img src="~/images/surgeon-doctor-svgrepo-com.svg" alt="">
        </div>
    </div>
    <div class="lower-container">
        <h3>@Model.Name</h3>
        <div class="reviews">
            @for (var i = 0; i < @Model.OverallRating; i++)
            {
                <i class="fas fa-star"></i>}
            @for (var i = @Model.OverallRating; i < 5; i++)
            {
                <i class="far fa-star"></i>}
            @*<span> (@Model?.Reviews?.Count())</span>*@
        </div>

        <div class="doctor-details">

            <div class="specialities">
                <h4 id="address">Szakterületek:</h4>
                @foreach (var spec in Model.DoctorSpecialities)
                {
                    <ul>
                        <li>@spec.Speciality.Name</li>
                    </ul>}
            </div>
            <div class="doc-address">
                <h4 id="address" data-city=@ViewBag.City>Cím:</h4>
                @*<span>@Model.DoctorFacilities,</span>
                <span>@Model.Address</span>*@
            </div>
        </div>
        <a class="doctor-details__a" asp-action="Edit" asp-controller="Doctors" asp-route-id="@Model.Id">Adatlap szerkesztése</a>
        <a class="doctor-details__a" asp-action="Delete" asp-controller="Doctors" asp-route-id="@Model.Id">Orvos törlése</a>
        <a class="doctor-details__a" asp-action="Create" asp-controller="Reviews" asp-route-id="@Model.Id">Orvos értékelése</a>
        <div class="doctor-details-reviews">
            <h4>Értékelések:</h4>
            <hr>
            <div class="doctor-review">

                @*@if (Model.Reviews.Any())
                {
                    <partial Name="_ReviewListPartial" model="@Model" /> }
                else
                {

                    <div class="empty-box">
                        <span>Még nem érkezett értékelés!</span>
                    </div>}*@
            </div>
        </div>
        @*<div id="map-div"></div>*@
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
