@model MarkMyDoctor.Models.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Törlés";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header text-center">
        <h4>@Model.UserName adatlapjának törlése</h4>
        <hr />
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>
        <div class="text-center">
            <input type="submit" value="Törlés" class="btn btn-danger" />
        </div>
    </div>
    <div class="card-footer">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <a class="btn btn-primary" asp-action="Index">Vissza a listához</a>
        </form>
    </div>
</div>
